creport.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ibox" 
		targetNamespace="http://localhost/demos/creport/soapserver/creport.wsdl"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
		xmlns:tns="http://localhost/creport/soapserver/creport.wsdl"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" targetNamespace="http://localhost/demos/creport/soapserver/creport.wsdl" xmlns:tns="http://localhost/demos/creport/soapserver/creport.wsdl">
		<!-- ========================== Faults Types ============================================ -->
			<xsd:complexType name="ServiceFault">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="errorCode" type="xsd:long" />
					<xsd:element minOccurs="0" name="errorMessage" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		
		<!-- ========================== AnalyzeCreditHistory ==================================== -->
			<xsd:element name="AnalyzeCreditHistoryFault" type="tns:ServiceFault"/>
		
			<xsd:element name="AnalyzeCreditHistoryRequest" type="tns:AnalyzeCreditHistoryRequestType" />
		
			<xsd:complexType name="AnalyzeCreditHistoryRequestType">
				<xsd:sequence>
					<xsd:element name="taxpayer_number" type="xsd:string" min="8" max="10" minOccurs="1" maxOccurs="1" />
					<xsd:element name="pawn_credit" type="xsd:string" min="1" max="1" minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
		
			<xsd:element name="AnalyzeCreditHistoryResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="positive" type="xsd:string" min="1" max="1" minOccurs="1" maxOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
		</xsd:schema>
	</wsdl:types>

	<!-- ============================== wsdl:messages =========================================== -->
	<wsdl:message name="AnalyzeCreditHistoryRequestMsg">
		<wsdl:part name="AnalyzeCreditHistoryRequest" element="tns:AnalyzeCreditHistoryRequest" />
	</wsdl:message>

	<wsdl:message name="AnalyzeCreditHistoryResponseMsg">
		<wsdl:part name="AnalyzeCreditHistoryResponse" element="tns:AnalyzeCreditHistoryResponse" />
	</wsdl:message>

	<wsdl:message name="AnalyzeCreditHistoryFaultMsg">
		<wsdl:part name="ServiceFault" element="tns:AnalyzeCreditHistoryFault" />
	</wsdl:message>

	<!-- ============================== wsdl:portType =========================================== -->
	<wsdl:portType name="creport">

		<wsdl:operation name="AnalyzeCreditHistory">
			<wsdl:input message="tns:AnalyzeCreditHistoryRequestMsg" name="AnalyzeCreditHistoryRequest" />
			<wsdl:output message="tns:AnalyzeCreditHistoryResponseMsg" name="AnalyzeCreditHistoryResponse" />
			<wsdl:fault message="tns:AnalyzeCreditHistoryFaultMsg" name="ServiceFault"/>
		</wsdl:operation>

	</wsdl:portType>

	<!-- ============================== wsdl:binding ============================================ -->
	<wsdl:binding name="creport_binding" type="tns:creport">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		
		<wsdl:operation name="AnalyzeCreditHistory">
			<soap:operation soapAction="" />
			<wsdl:input name="AnalyzeCreditHistoryRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AnalyzeCreditHistoryResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ServiceFault">
				<!-- <soap:fault name="operation" use="literal"/> -->
				<soap:fault use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

	</wsdl:binding>

	<!-- ============================== wsdl:service ============================================ -->
	<wsdl:service name="creport">
		<wsdl:port name="creport_service_port" binding="tns:creport_binding">
			<soap:address location="http://localhost/demos/creport/soapserver/service.php" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>